
<h1>
	<i class='bx bx-hot'></i>
	<i class='bx bxs-hot'></i>
	<i class='bx bxl-facebook-square'></i>
	<i class='bx bxs-copy-alt'></i>
	<i class='bx bxs-radiation'></i>
	<%= @about_me%>
</h1>
<h2> <% answer = 2 + 2%> 	2 + 3 = <%= answer %></h2>